<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Portland, Decaying Port City</title>
</head>

<body>
  <header>
    <nav>
      <div class="navbar">
        <a href="/state">Oregon Intro</a>
        <a href="/city1">Salem</a>
        <a href="/city2" class="active">Portland</a>
        <a href="/city3">Newport</a>
      </div>
    </nav>
    <h2>Portland: Wealth inequality and slow economy</h2>
  </header>

  <section>
    <!-- population, year incorporated, region of the state located, urban/suburban/rural class, average income compared to rest of state
        do ordered list for facts. -->

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRss8to7_fk2IgTDj98wsgU8eP-QIfi3qWeVw&usqp=CAU" alt="A shot of Portland's hills and skyscrapers.">
    <aside>Unfortunately, Portland's economic recovery after Covid has been slow. <sup>6</sup></aside>
    <H2>Portland Facts</H2>
    <p>See 'Sources' on home page!<sup>2</sup></p>
    <ul>
      <li>Population: 652,503</li>
      <li>Incorporation: 1851</li>
      <li>Region: Northwest tip of Oregon, where the Columbia river bends north!</li>
      <li>City Classification: Urban</li>
      <li>Income:Median household income of $40,146</li>
    </ul>
  </section>
  <aside></aside>
</body>

</html>