<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portland, Decaying Port City</title>
</head>

<body>
  <header></header>
  <nav></nav>
  <section>
    <!-- population, year incorporated, region of the state located, urban/suburban/rural class, average income compared to rest of state
        do ordered list for facts. -->
    <H2>Portland Facts</H2>
    <p>See 'Sources' on home page!</p>
    <ol>
      <li>Population: 652,503</li>
      <li>Incorporation: 1851</li>
      <li>Region: Northwest tip of Oregon, where the Columbia river bends north!</li>
      <li>City Classification: Urban</li>
      <li>Income:Median household income of $40,146</li>
    </ol>
  </section>
  <aside></aside>
</body>

</html>