<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Salem, State Capitol</title>
</head>

<body>
  <header></header>
  <nav></nav>
  <section>
    <!-- population, year incorporated, region of the state located, urban/suburban/rural class, average income compared to rest of state
        do ordered list for facts. -->
    <H2>Salem Facts</H2>
    <p>See 'Sources' on home page!</p>
    <ol>
      <li>Population: 175,000</li>
      <li>Incorporation: 1857</li>
      <li>Region: Nothwest Oregon, South of Portland</li>
      <li>City Classification: Urban</li>
      <li>Income: Median household income of $62,185.</li>
    </ol>
    <img src="" alt="">
  </section>
  <aside></aside>
</body>

</html>