<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Newport, State Tourist Destination</title>
</head>

<body>
  <header>
    <nav>
      <div class="navbar">
        <a href="/state">Oregon Intro</a>
        <a href="/city1">Salem</a>
        <a href="/city2">Portland</a>
        <a href="/city3" class="active">Newport</a>
      </div>
    </nav>
    <H2>Newport Facts</H2>
  </header>
  <section>
    <!-- population, year incorporated, region of the state located, urban/suburban/rural class, average income compared to rest of state
        do ordered list for facts. -->

    <p>See 'Sources' on home page!</p>
    <ol>
      <li>Population: 10,256</li>
      <li>Incorporation: 1882</li>
      <li>Region: West Coast, about one third from the northernmost point of Oregon.</li>
      <li>City Classification: Rural</li>
      <li>Income: Median household income of $52,897 </li>
    </ol>
  </section>
  <aside></aside>
</body>

</html>