<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oregon State Introduction</title>
</head>

<body>

  <header>
    <h1>Oregon State</h1>
    <p>Oregon is a West Coast state known for its' beatiful parks and nature.</p>
  </header>
  <nav></nav>
  <section>
    <!-- put some facts about oregon here
    put in a 3x3 table -->
    <img src="" alt="">
    <h2> Sources</h2>
    <ul>
      <li>https://en.wikipedia.org/wiki/Salem,_Oregon</li>
      <li>https://en.wikipedia.org/wiki/Portland,_Oregon</li>
      <li>https://en.wikipedia.org/wiki/Newport,_Oregon</li>
    </ul>
  </section>
  <aside></aside>
</body>

</html>