<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Oregon State Introduction</title>
</head>

<body>

  <header>
    <nav>
      <div class="navbar">
        <a href="/state" class="active">Oregon Intro</a>
        <a href="/city1">Salem</a>
        <a href="/city2">Portland</a>
        <a href="/city3">Newport</a>
      </div>
    </nav>
    <div>
      <h2>Oregon State</h2>
    </div>
    <p>Oregon is a West Coast state known for its' beatiful parks and nature.</p>
  </header>
  <img src="" alt="A satellite map of Oregon State">
  <section>
    <h2>Comparison of some Cities in Oregon</h2>
    <p>The following table summarises the city pages of this site</p>
    <table>
      <tr>
        <th>Property</th>
        <th>Salem</th>
        <th>Portland</th>
        <th>Newport</th>
      </tr>
      <tr>
        <td>Income</td>
        <td id="best">$62,185</td>
        <td>$40,146</td>
        <td>$52,897</td>
      </tr>
      <tr>
        <td>Incorporation</td>
        <td>1857</td>
        <td id="best">1851</td>
        <td>1882</td>
      </tr>
      <tr>
        <td>Population</td>
        <td>175,000</td>
        <td id="best">652,503</td>
        <td>10,256</td>
      </tr>
    </table>
    <h2> Sources</h2>
    <ul>
      <li>https://en.wikipedia.org/wiki/Salem,_Oregon</li>
      <li>https://en.wikipedia.org/wiki/Portland,_Oregon</li>
      <li>https://en.wikipedia.org/wiki/Newport,_Oregon</li>
    </ul>
  </section>
  <aside></aside>
</body>

</html>